mediapipe>=0.10.8
opencv-python>=4.8.0
numpy>=1.24.0
Pillow>=10.0.0
imageio>=2.31.0
imageio-ffmpeg>=0.4.9
tqdm>=4.66.0
scipy>=1.10.0
flask>=3.0.0
pyinstaller>=6.6.0
gunicorn>=23.0.0
waitress>=3.0.2
psutil>=5.9.0